<div class="main__grid">
    <div class="balls_container_L rotate">
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
    </div>
    <img class="main__logo" width="130px" height="130px" id="main__logo2" src="../../assets/MAIN_BAG.jpg">
    <div class="balls_container_R rotate">
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
    </div>
</div>
