.contaner_name {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}


::ng-deep .mat-slider-track-fill {
    color:black;
}

.btn-space {
    margin-left: 5px;
}

// .btn {
//     color: gray;
//     background-color: lightgreen;
// }

.mat-accent .mat-slider-track-fill, .mat-accent .mat-slider-thumb, .mat-accent .mat-slider-thumb-label {
    background-color: black;
}

::ng-deep .mat-slider-thumb-label {
    background-color: rgb(224, 87, 45) !important;
}

::ng-deep  .mat-slider-track-fill {
    background-color: rgb(224, 87, 45) !important;

}


::ng-deep .mat-slider-thumb {
    background-color: rgb(224, 87, 45) !important;

}