/* You can add global styles to this file, and also import other style files */
body{
    background: rgb(61, 60, 60);
    text-align: center;
    height: 100vh;
    line-height: 100vh;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
